@media screen and (max-width: 600px) {
  .linkButton:hover {
    color: #ccc;
  }
}
@media screen and (min-width: 600px) {
  .linkButton:hover {
    color: #630094;
  }
}
@media screen and (min-width: 992px) {
  .linkButton {
    font-size: 16px;
    margin-top: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .linkButton {
    font-size: 1.1vw;
    margin-top: 0.8vw;
  }
}
.linkButton {
  text-decoration: none;
  color: inherit;
}
