@media screen and (max-width: 767px) {
  .myEmail {
    display: none;
  }
  .navbar__desktop.opened {
    transform: translateX(0);
  }
  .navbar__desktop.opened + .backdrop {
    opacity: 1;
    visibility: visible;
  }
  .navbar__desktop {
    width: 250px;
    padding: 20px;
    right: 0;
    transition: all 0.3s ease;
    background-color: #f1f1f1;
    z-index: 2;
    transform: translateX(100%);
  }
  .backdrop {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .burgerButton {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    display: block;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .navbar__desktop {
    width: 20%;
    padding: 20px;
    left: 0;
  }
  .myEmail {
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }
  .burgerButton {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navbar__desktop {
    padding: 1.3vw;
  }
  .myEmail {
    font-size: 1.1vw;
  }
}
.navbar__desktop {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
