@media screen and (max-width: 600px) {
  .mainPage {
    padding-top: 0;
    flex-direction: column;
  }
  .mainPage__header {
    margin-left: 0;
  }
  .mainPage__buttons {
    margin-left: 0;
    background-image: url(../assets/me.jpg);
    height: 75vh;
    background-size: cover;
    padding: 10px;
    color: #fff;
  }
  .mainPage__image {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .mainPage {
    padding-top: 50px;
  }
  .mainPage__header {
    margin-left: -50px;
  }
  .mainPage__buttons {
    margin-left: 30px;
  }
}
@media screen and (min-width: 992px) {
  .mainPage {
    padding-top: 50px;
  }
  .mainPage__header {
    margin-left: -150px;
  }
  .mainPage__buttons {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .mainPage {
    padding-top: 50px;
  }
  .mainPage__header {
    margin-left: -10vw;
  }
  .mainPage__buttons {
    margin-left: 30px;
  }
}
.mainPage {
  display: flex;
}
